<template>
  <div class="row">
    <div class="col-md-4">
      <h2>Create Poll</h2>
    </div>
    <div class="col-md-8">
<div class="mb-3">
      <textarea class="form-control" rows="3" placeholder="Enter your question" v-model="question" @blur="$v.question.$touch()" :class="{'is-invalid' : $v.question.$error, 'is-valid' : !$v.question.$error && $v.question.$dirty}"></textarea>
      <div class="invalid-feedback" v-if="!$v.question.required">Please input your question</div>
      <div class="invalid-feedback" v-if="!$v.question.maxLength">Question is too long (Maximum {{$v.question.$params.maxLength.max}} characters allowed.)</div>
    </div>
    <template v-for="(choice, index) in choices">
      <div class="mb-3" :key="choice.id">
        <template v-if="index <= 1">
          <input type="text" class="form-control" :placeholder="'Choice ' + (index + 1)" v-model="choice.text" :key="index" @blur="$v.choices.$each[index].text.$touch()" :class="{'is-invalid' : $v.choices.$each[index].text.$error, 'is-valid' : !$v.choices.$each[index].text.$error && $v.choices.$each[index].text.$dirty}" />
          <div class="invalid-feedback" v-if="!$v.choices.$each[index].text.required">Please input your choice</div>
          <div class="invalid-feedback" v-if="!$v.choices.$each[index].text.maxLength">Choice is too long (Maximum {{$v.choices.$each[index].text.$params.maxLength.max}} characters allowed.)</div>
        </template>
        <template v-else>
          <div class="input-group" :key="index">
            <input type="text" class="form-control" :placeholder="'Choice ' + (index + 1)" v-model="choice.text" :key="index" @blur="$v.choices.$each[index].text.$touch()" :class="{'is-invalid' : $v.choices.$each[index].text.$error, 'is-valid' : !$v.choices.$each[index].text.$error && $v.choices.$each[index].text.$dirty}" />
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary x-btn" type="button" @click="deleteChoice(index)">X</button>
            </div>
            <span class="invalid-feedback" v-if="!$v.choices.$each[index].text.required">Please input your choice</span>
            <span class="invalid-feedback" v-if="!$v.choices.$each[index].text.maxLength">Choice is too long (Maximum {{$v.choices.$each[index].text.$params.maxLength.max}} characters allowed.)</span>
          </div>
        </template>
      </div>
    </template>
    <div class="mb-3">
      Poll length:
      <select class="form-control  form-control-sm ml-3 d-inline-block pollLength" v-model="pollLength.days">
        <option v-for="(item, index) in 8" :key="index">{{index}}</option>
      </select>
      Days
      <select class="form-control  form-control-sm ml-3 d-inline-block pollLength" v-model="pollLength.hours">
        <option v-for="(item, index) in 24" :key="index">{{index}}</option>
      </select>
      Hours
    </div>
    <button type="button" class="btn btn-outline-secondary mb-3" @click="addChoice">+ Add a choice</button>
    <button type="button" class="btn btn-primary btn-block" @click="createPoll">Create Poll</button>
    </div>
  </div>
</template>

<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { RepositoryFactory } from '@/repositories/repositoryFactory'
const PollRepository = RepositoryFactory.get('PollRepository')
export default {
  data () {
    return {
      question: '',
      choices: [{ text: '' }, { text: '' }],
      pollLength: {
        days: 1,
        hours: 0
      }
    }
  },
  validations: {
    question: {
      required,
      maxLength: maxLength(140)
    },
    choices: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(6),
      $each: {
        text: {
          required,
          maxLength: maxLength(40)
        }
      }
    }
  },
  methods: {
    addChoice () {
      if (this.choices.length < 6) {
        this.choices.push({ text: '' })
      } else {
        this.$notify({
          group: 'danger',
          text: 'Maximun 6 choices is allowed'
        })
      }
    },
    deleteChoice (index) {
      this.choices.splice(index, 1)
    },
    createPoll () {
      this.$v.$touch()
      !this.$v.$invalid &&
        PollRepository.createPoll({
          question: this.question,
          choices: this.choices,
          pollLength: this.pollLength
        }).then(res => {
          this.question = ''
          this.choices = [{ text: '' }, { text: '' }]
          this.$router.push('home')
          this.$notify({
            group: 'primary',
            text: 'Create poll success'
          })
        })
    }
  }
}
</script>

<style scoped>
.pollLength {
  width: 60px;
}

.x-btn {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}
</style>
