<template>
  <div class="row">
    <div class="col-md-4 pb-3">
      <div class="card">
        <div class="card-header card-title">
          <font-awesome-icon :icon="['fa', 'filter']" />
          &nbsp;Filter
        </div>
        <div class="card-body">
          <div class="custom-control custom-radio pb-2">
            <input type="radio" id="all" name="filterOption" value="all" class="custom-control-input" v-model="filter">
            <label class="custom-control-label" for="all">All Polls</label>
          </div>
          <div class="custom-control custom-radio pb-2">
            <input type="radio" id="ongoing" name="filterOption" value="ongoing" class="custom-control-input" v-model="filter">
            <label class="custom-control-label" for="ongoing">Ongoing Polls</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="closed" name="filterOption" value="closed" class="custom-control-input" v-model="filter">
            <label class="custom-control-label" for="closed">Closed Polls</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <app-polling-list :listType="filter"/>
    </div>
  </div>
</template>

<script>
import PollingList from '@/components/PollingList.vue'

export default {
  components: {
    'app-polling-list': PollingList
  },
  data: function () {
    return {
      filter: 'all'
    }
  }
}
</script>

<style scoped>
.card-title {
  font-weight: 500;
  color: #365899;
  font-size: 17px;
}
</style>
