<template>
  <div class="row">
    <div class="col-md-4">
      <h2>Login</h2>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label>Username: </label>
        <input type="text" class="form-control" id="username" placeholder="Username" v-model="username" @blur="$v.username.$touch()" @keyup.enter="login" :class="{'is-invalid' : $v.username.$error, 'is-valid' : !$v.username.$error && $v.username.$dirty}">
        <div class="invalid-feedback" v-if="!$v.username.required">Please input your username</div>
      </div>
      <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" class="form-control" id="password" placeholder="Password" v-model="password" @blur="$v.password.$touch()" @keyup.enter="login" :class="{'is-invalid' : $v.password.$error, 'is-valid' : !$v.password.$error && $v.password.$dirty}">
        <div class="invalid-feedback" v-if="!$v.password.required">Please input your password</div>
      </div>
      <button id="btnLogin" type="button" class="btn btn-primary btn-block" @click="login">Login</button>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
  data () {
    return {
      username: '',
      password: ''
    }
  },
  validations: {
    username: {
      required
    },
    password: {
      required
    }
  },
  methods: {
    login () {
      this.$v.$touch()
      !this.$v.$invalid &&
        this.$store
          .dispatch('auth/login', {
            username: this.username,
            password: this.password
          })
          .then(() => {
            this.$router.push('home')
            this.$notify({
              group: 'primary',
              text: '<strong>' + this.username + '</strong>  Login success'
            })
          })
          .catch(error => {
            this.$notify({
              group: 'danger',
              title: 'Error',
              text: error.response.data.message
            })
          })
    }
  }
}
</script>
