<template>
  <div class="row">
    <div class="col-md-4">
      <div class="card profileInfo mb-4">
        <div class="card-body">
            <div class="profileImagelg" :style="{background : stringToColor(user.username)}">{{user.name | firstChar}}</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex flex-column justify-content-between d-block">
              <div class="author">{{user.name}}</div>
              <div class="text-secondary">@{{user.username}}</div>
              <div class="text-secondary">Joined {{user.createTime}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <nav>
        <div class="nav nav-tabs d-flex " id="nav-tab" role="tablist">
          <a class="flex-fill">
            <div class="nav-item nav-link text-center" :class="{ active: active == 'polls'}" @click="active = 'polls'">{{user.pollCount}} Polls</div>
          </a>
          <a class="flex-fill">
            <div class="nav-item nav-link text-center" :class="{ active: active == 'votes'}" @click="active = 'votes'">{{user.voteCount}} Votes</div>
          </a>
        </div>
      </nav>
      <app-polling-list :list-type="active" :key="$route.path" />
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import PollingList from '@/components/PollingList.vue'
import { RepositoryFactory } from '@/repositories/repositoryFactory'
const UserRepository = RepositoryFactory.get('UserRepository')
export default {
  components: {
    'app-polling-list': PollingList
  },
  data () {
    return {
      active: 'polls',
      user: {
        username: null,
        name: null,
        createTime: null,
        pollCount: 0,
        voteCount: 0
      }
    }
  },
  methods: {
    fetchUser () {
      UserRepository.getUserProfile(this.$route.params.username).then(res => {
        this.user = res.data
      })
    },
    stringToColor (username) {
      return Vue.common.stringToColor(username)
    }
  },
  mounted () {
    this.fetchUser()
  }
}
</script>

<style scoped>
.profileImagelg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #ddd;
  font-size: 60px;
  color: #fff;
  text-align: center;
  line-height: 130px;
  margin: auto;
}

.author {
  font-weight: 500;
  color: #365899;
  font-size: 20px;
}

.nav-item.nav-link.active {
  background-color: #fff;
}

.profileInfo {
 background-color: inherit;
}
</style>
