<template>
  <div class="row">
    <div class="col-md-4">
      <h2>Sign Up</h2>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="name">Full Name: </label>
        <input type="text" class="form-control" id="name" placeholder="Your Full Name" v-model="name" @blur="$v.name.$touch()" :class="{'is-invalid' : $v.name.$error, 'is-valid' : !$v.name.$error && $v.name.$dirty}">
        <div class="invalid-feedback" v-if="!$v.name.required">Please input your name</div>
        <div class="invalid-feedback" v-if="!$v.name.minLength">Name is too short (Minimum {{$v.name.$params.minLength.min}} characters needed.)</div>
        <div class="invalid-feedback" v-if="!$v.name.maxLength">Name is too long (Maximum {{$v.name.$params.maxLength.max}} characters needed.)</div>
      </div>
      <div class="form-group">
        <label for="username">Username: </label>
        <input type="text" class="form-control" id="username" placeholder="A unique username" v-model="username" @blur="$v.username.$touch()" :class="{'is-invalid' : $v.username.$error, 'is-valid' : !$v.username.$error && $v.username.$dirty}">
        <div class="invalid-feedback" v-if="!$v.username.required">Please input your username</div>
        <div class="invalid-feedback" v-if="!$v.username.minLength">Username is too short (Minimum {{$v.username.$params.minLength.min}} characters needed.)</div>
        <div class="invalid-feedback" v-if="!$v.username.maxLength">Username is too long (Maximum {{$v.username.$params.maxLength.max}} characters needed.)</div>
      </div>
      <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" class="form-control" id="password" placeholder="A password between 6 to 20 characters" v-model="password" @blur="$v.password.$touch()" :class="{'is-invalid' : $v.password.$error, 'is-valid' : !$v.password.$error && $v.password.$dirty}">
        <div class="invalid-feedback" v-if="!$v.password.required">Please input your password</div>
        <div class="invalid-feedback" v-if="!$v.password.minLength">Password is too short (Minimum {{$v.password.$params.minLength.min}} characters needed.)</div>
        <div class="invalid-feedback" v-if="!$v.password.maxLength">Password is too long (Maximum {{$v.password.$params.maxLength.max}} characters needed.)</div>
      </div>
      <button type="button" class="btn btn-primary btn-block" @click="signup">Sign up</button>
    </div>
  </div>
</template>

<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators';
import { RepositoryFactory } from '@/repositories/repositoryFactory';
const AuthRepository = RepositoryFactory.get('AuthRepository')
export default {
  data () {
    return {
      name: '',
      username: '',
      password: ''
    }
  },
  validations: {
    name: {
      required,
      minLength: minLength(4),
      maxLength: maxLength(40)
    },
    username: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(15)
    },
    password: {
      required,
      minLength: minLength(6),
      maxLength: maxLength(20)
    }
  },
  methods: {
    signup () {
      this.$v.$touch()
      !this.$v.$invalid &&
        AuthRepository.signup({
          name: this.name,
          username: this.username,
          password: this.password
        })
          .then(() => {
            this.$router.push('login')
            this.$notify({
              group: 'primary',
              text: '<strong>' + this.username + '</strong>  Sign up success'
            })
          })
          .catch(error => {
            this.$notify({
              group: 'danger',
              title: 'Error',
              text: error.response.data.message
            })
          })
    }
  }
}
</script>
<style scoped>
#app {
  background: #94bad0 !important;
}
</style>
