<template>
    <app-modal ref="modal">
      <template slot="header">{{title}}</template>
      <template slot="default">
        <slot>Msg Modal Body</slot>
      </template>
      <template slot="footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" @click="sure">Sure</button>
      </template>
    </app-modal>
</template>

<script>
import Modal from './Modal.vue'
export default {
  components: {
    'app-modal': Modal
  },
  data () {
    return { title: 'Confirm' }
  },
  methods: {
    show () {
      this.$refs.modal.show()
    },
    sure () {
      this.sureAction()
      this.$refs.modal.hide()
    }
  }
}
</script>
