<!--
<template slot="header"></template>
<template slot="default"></template>
<template slot="footer"></template>
-->
<template>
  <div class="modal fade" :id="modalId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" :class="{ 'modal-dialog-centered': center }">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">
            <slot name="header">Modal Title</slot>
          </h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <slot>Modal Body</slot>
        </div>
        <div class="modal-footer" v-if="footer">
          <slot name="footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
export default {
  props: {
    removeOnClose: {
      default: true,
      type: Boolean,
      required: false
    },
    footer: {
      default: true,
      type: Boolean,
      required: false
    },
    center: {
      default: false,
      type: Boolean,
      required: false
    }
  },
  data () {
    return {
      modalId: null
    }
  },
  methods: {
    show () {
      let modal = $('#' + this.modalId).modal('show')
      if (this.removeOnClose) {
        modal.on('hide.bs.modal', function () {
          $(this).remove()
        })
      }
    },
    hide () {
      $('#' + this.modalId).modal('hide')
    }
  },
  created () {
    this.modalId = 'modalId_' + new Date().getTime()
  }
}
</script>

<style scoped>
.modal-body {
  min-height : 120px
}
</style>
