<template>
    <app-modal ref="modal">
      <template slot="header">{{title}}</template>
      <template slot="default">
        <slot>Msg Modal Body</slot>
      </template>
    </app-modal>
</template>

<script>
import Modal from './Modal.vue'
export default {
  components: {
    'app-modal': Modal
  },
  data () {
    return { title: 'Error' }
  },
  methods: {
    show () {
      this.$refs.modal.show()
    }
  }
}
</script>
