<template>
  <div>
    <app-poll :key="poll.id" :poll="poll" :readOnly="readOnly" v-for="poll in content" @update-poll="updatePoll" @delete-poll="deletePoll" @show-voter="showVoter"></app-poll>
    <div class="text-center">
      <button type="button" class="btn btn-outline-secondary" @click="loadPolls" v-if="!last">+ Load more</button>
    </div>
    <app-modal ref="voterModal" :removeOnClose="false" :footer="false" :center="true">
      <template slot="header">Voter</template>
      <template slot="default">
        <slot>
          <div class="d-flex align-items-stretch py-2" v-for="voter in voterData" :key="voter.id">
            <a @click="routeToProfile(voter.username)">
              <div class="profileImage d-inline-block" :style="{background : stringToColor(voter.username)}">
                {{voter.name | firstChar}}
              </div>
            </a>
            <div class="d-inline-block ml-2">
              <div>
                <span class="mr-2 hyper-link author" @click="routeToProfile(voter.username)">{{voter.name}}</span>
              </div>
              <span class="text-secondary small-text hyper-link" @click="routeToProfile(voter.username)">@{{voter.username}}</span>
            </div>
          </div>
        </slot>
      </template>
    </app-modal>
  </div>
</template>

<script>
import Vue from 'vue'
import Poll from '../components/Poll.vue'
import { RepositoryFactory } from '@/repositories/repositoryFactory'
import Modal from '../components/Modal.vue'
const PollRepository = RepositoryFactory.get('PollRepository')
const UserRepository = RepositoryFactory.get('UserRepository')
export default {
  components: {
    'app-poll': Poll,
    'app-modal': Modal
  },
  props: ['listType'],
  data () {
    return {
      content: [],
      page: 0,
      size: 0,
      totalElements: 0,
      totalPages: 0,
      last: true,
      voterData: [],
      readOnly: false
    }
  },
  methods: {
    updatePoll (newPoll) {
      var polls = this.content
      var index = polls.findIndex(poll => poll.id === newPoll.id)
      polls.splice(index, 1, newPoll)
    },
    deletePoll (pollId) {
      var polls = this.content
      var index = polls.findIndex(poll => poll.id === pollId)
      polls.splice(index, 1)
    },
    loadPolls () {
      this.page++
      this.fetchPolls(this.listType)
    },
    fetchPolls () {
      let promise
      let listType = this.listType
      if (listType === 'polls') {
        promise = UserRepository.getPollsCreatedBy(
          this.$route.params.username,
          this.page,
          this.size
        )
        this.readOnly = true
      } else if (listType === 'votes') {
        promise = UserRepository.getPollsVotedBy(
          this.$route.params.username,
          this.page,
          this.size
        )
        this.readOnly = true
      // } else if (listType === 'ongoing') {
      //   promise = PollRepository.getOngoingPolls(this.page, this.size)
      // } else if (listType === 'closed') {
      //   promise = PollRepository.getClosedPolls(this.page, this.size)
      } else {
        promise = PollRepository.getPolls(listType, this.page, this.size)
      }
      promise.then(res => {
        this.content.push(...res.data.content)
        this.page = res.data.page
        this.size = res.data.size
        this.totalElements = res.data.totalElements
        this.totalPages = res.data.totalPages
        this.last = res.data.last
      })
    },
    showVoter (choiceId) {
      UserRepository.getUsersByChoiceId(choiceId).then(res => {
        this.voterData = res.data
      })
      this.$refs.voterModal.show()
    },
    stringToColor (username) {
      return Vue.common.stringToColor(username)
    },
    routeToProfile (username) {
      this.$refs.voterModal.hide()
      this.$router.push({ name: 'profile', params: { username: username } })
    }
  },
  watch: {
    listType (newVal, oldVal) {
      this.page = 0
      this.content = []
      this.fetchPolls(newVal)
    }
  },
  created () {
    this.fetchPolls(this.listType)
  }
}
</script>

<style>
.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ddd;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 45px;
}
.author {
  font-weight: 500;
  color: #365899;
  font-size: 17px;
}
</style>
