<template>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex align-items-stretch py-2">
        <a @click="routeToProfile(poll.creator.username)">
          <div class="profileImage d-inline-block" :style="{background : stringToColor(poll.creator.username)}">
            {{poll.creator.name | firstChar}}
          </div>
        </a>
        <div class="d-inline-block ml-2">
          <div>
            <span class="mr-2 hyper-link author" @click="routeToProfile(poll.creator.username)">{{poll.creator.name}}</span>
            <span class="text-secondary small-text hyper-link" @click="routeToProfile(poll.creator.username)">@{{poll.creator.username}}</span>
          </div>
          <div class="text-secondary small-text">{{poll.createTime}}</div>
        </div>
      </div>
      <div class="question py-3">{{poll.question}}</div>
      <div v-if="votable(poll)">
        <template v-for="choice in poll.choices">
          <div class="choice custom-control custom-radio mb-1" :key="choice.id">
            <input type="radio" class="custom-control-input py-2" v-model="selectedChoiceId" :value="choice.id" :id="'radio_' + choice.id" :name="'radio_' + poll.id">
            <label class="custom-control-label py-2 px-3" :for="'radio_' + choice.id">{{choice.text}}</label>
          </div>
        </template>
      </div>
      <div v-else>
        <template v-for="choice in poll.choices">
          <div class="d-flex" :key="choice.id">
            <div class="result py-2 px-3 mb-1">
              <span class="voteResult">
                <!-- <span class="mr-2">{{ getVotePercent(poll.totalVotes, choice.voteCount) }}%</span> -->
                <span class="mr-2">{{ choice.text }}</span>
                <span class="mr-2" v-if="poll.selectedChoiceId === choice.id">
                  <font-awesome-icon :icon="['far', 'check-circle']" /></span>
              </span>
              <span class="bar" :class="getBarClass(choice.voteCount, poll.expired)" :style="'width: '+ getVotePercent(poll.totalVotes, choice.voteCount) + '%;'"></span>
            </div>
            <div class="pl-2">
              <button type="button" class="btn btn-circle" @click="showVoter(choice)">{{choice.voteCount}}</button>
            </div>
          </div>
        </template>
      </div>
      <div class="py-2">
        <button type="button" class="btn btn-outline-primary d-inline btn-sm mr-2" :disabled="selectedChoiceId === ''" @click="vote" v-if="votable(poll)">Vote</button>
        <button type="button" class="btn btn-outline-danger d-inline btn-sm mr-2" @click="deletePoll()" v-if="userInfo.authorities && userInfo.authorities.indexOf('Admin') !== -1">Delete</button>
        <span class="text-secondary small-text align-middle">
          <span class="pr-2">{{poll.totalVotes}} votes</span>
          <span class="pr-2">•</span>
          <span class="pr-2" v-if="poll.expired">Final results</span>
          <span class="pr-2" v-else>{{poll.expireTime | dateTimeCompareToNow}}</span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
import { RepositoryFactory } from '@/repositories/repositoryFactory'
const PollRepository = RepositoryFactory.get('PollRepository')
export default {
  props: {
    poll: {
      type: Object,
      required: true
    },
    readOnly: {
      type: Boolean,
      required: false
    }
  },
  data () {
    return {
      selectedChoiceId: '',
      topVoteCnt: -1
    }
  },
  computed: {
    ...mapGetters('auth', ['isAuthenticated', 'userInfo'])
  },
  methods: {
    getVotePercent (total, cnt) {
      if (total === 0) {
        return 0
      }
      return ((cnt / total) * 100).toFixed(1)
    },
    votable (poll) {
      return !this.readOnly && !poll.expired && !poll.selectedChoiceId && this.isAuthenticated
    },
    vote () {
      PollRepository.castVote(this.$props.poll.id, {
        choiceId: this.selectedChoiceId
      }).then(res => {
        this.$emit('update-poll', res.data)
      })
    },
    deletePoll () {
      let poll = this
      let pollId = poll.$props.poll.id
      Vue.common.showConfirmModal(this, {
        msg: 'Are you sure you want to delete the data?',
        action () {
          PollRepository.deletePoll(pollId).then(res => {
            poll.$emit('delete-poll', pollId)
            this.$notify({
              group: 'primary',
              text: 'Delete poll success'
            })
          }).catch(error => {
            this.$notify({
              group: 'danger',
              title: 'Error',
              text: error.response.data.message
            })
          })
        }
      })
    },
    getBarClass (choiceVoteCnt, expired) {
      if (this.topVoteCnt === choiceVoteCnt && expired) {
        return 'bg-lightblue'
      } else {
        return 'bg-lightgray'
      }
    },
    routeToProfile (username) {
      this.$router.push({ name: 'profile', params: { username: username } })
    },
    showVoter (choice) {
      if (choice.voteCount !== 0) {
        this.$emit('show-voter', choice.id)
      }
    },
    stringToColor (username) {
      return Vue.common.stringToColor(username)
    }
  },
  created () {
    var choices = this.$props.poll.choices
    this.topVoteCnt = choices.reduce(function (prev, choice) {
      var choiceVoteCount = choice.voteCount
      if (choiceVoteCount === 0) {
        return prev
      }
      return Math.max(prev, choiceVoteCount)
    }, -1)
  }
}
</script>

<style lang="scss" scoped>
.bg-lightblue {
  background-color: #e9f5ff;
}

.bg-lightgray {
  background-color: #f5f5f5;
}

.result {
  position: relative;
  border-radius: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #ddd;
}

.voteResult {
  position: relative;
  z-index: 1;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 2px;
  -webkit-transition: all 0.3s cubic-bezier(0.5, 1.2, 0.5, 1.2);
  -o-transition: all 0.3s cubic-bezier(0.5, 1.2, 0.5, 1.2);
  transition: all 0.3s cubic-bezier(0.5, 1.2, 0.5, 1.2);
  opacity: 1;
}

.btn-circle {
  width: 39px;
  height: 39px;
  text-align: center;
  margin: 2px 0;
  font-size: 12px;
  border-radius: 19.5px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}

.btn-circle:hover {
  background-color: #fff;
}

.question {
  font-size: 18px;
}

.custom-control-label::after,
.custom-control-label::before {
  top: 0.8rem;
  left: -1.8rem;
}

.choice {
  border: 1px solid #ddd;
  border-radius: 2px;
}

.choice label {
  border-left: 1px solid #ddd;
  width: 100%;
}

.custom-control {
  padding-left: 2.5rem;
}
</style>
