<template>
  <div id="app">
    <div class="hint text-right">{{getBackendDomain()}}</div>
    <loading class="loading" color="#77deb0" :active.sync="isLoading" :can-cancel="false" :is-full-page="true"></loading>
    <nav class="navbar navbar-expand-lg sticky-top py-0">
      <div class="container d-flex flex-md-row flex-column flex-nowrap align-items-md-stretch">
        <div class="">
          <router-link to="/home" class="navbar-brand mx-auto py-3"><img alt="Vue logo" src="./assets/logo.png" style="width: 25px; height: 25px;"> Polling App</router-link>
        </div>
        <div class=" d-flex flex-row justify-content-around responsive-font">
          <template v-if="!isAuthenticated">
            <router-link to="/login" class="nav-link d-inline-block px-md-3 py-md-2 px-2 py-1" :class="{ 'nav-active': this.$route.path === '/login'}">
              <div class="d-flex align-items-center h-100">
                <font-awesome-icon :icon="['fa', 'sign-in-alt']" />
                <!-- Login -->
              </div>
            </router-link>
            <router-link to="/signup" class="nav-link d-inline-block px-md-3 py-md-2 px-2 py-1" :class="{ 'nav-active': this.$route.path === '/signup'}">
              <div class="d-flex align-items-center h-100">
                <font-awesome-icon :icon="['fa', 'user-plus']" />
                <!-- Signup -->
              </div>
            </router-link>
          </template>
          <template v-if="isAuthenticated">
            <router-link to="/home" class="nav-link d-inline-block px-md-3 px-2 py-0" :class="{ 'nav-active': this.$route.path === '/home'}">
              <div class="d-flex align-items-center h-100">
                <font-awesome-icon :icon="['fa', 'home']" />
                <!-- Home -->
                </div>
            </router-link>
            <router-link id="createPoll" to="/createPoll" class="nav-link d-inline-block px-md-3 px-2 py-0" :class="{ 'nav-active': this.$route.path === '/createPoll'}">
              <div class="d-flex align-items-center h-100">
                <font-awesome-icon :icon="['fa', 'plus']" />
                <!-- Create Poll -->
                </div>
            </router-link>
            <div class="dropdown nav-link px-md-3 px-2 py-0" :class="{ 'nav-active': this.$route.path.indexOf('/profile') !== -1}">
              <a class="dropdown-toggle d-flex align-items-center h-100" id="userPopup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <font-awesome-icon :icon="['fa', 'user']" />
                <!-- {{userInfo.authorities}} -->
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userPopup">
                <div class="dropdown-item disabled text-dark">{{userInfo.name}} ({{userInfo.authorities}})</div>
                <div class="dropdown-item disabled small-text">@{{userInfo.username}}</div>
                <div class="dropdown-divider"></div>
                <router-link class="dropdown-item" :to="{ name : 'profile', params : { username : userInfo.username } }">Profile</router-link>
                <a id="logout" href class="dropdown-item" @click.prevent="logout">Logout</a>
              </div>
            </div>
          </template>
        </div>
      </div>
    </nav>
    <!-- container -->
    <div id="container" class="container my-4">
      <router-view :key="$route.path" />
    </div>
    <notifications group="danger" width="300px">
      <template slot="body" slot-scope="props">
        <div class="alert alert-danger alert-dismissible fade show mb-2" role="alert">
          <h5 class="alert-heading" v-if="props.item.title">{{props.item.title}}</h5>
          <div v-html="props.item.text"></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="props.close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </template>
    </notifications>
    <notifications group="primary" width="300px" position="top right" class="mt-2 mr-2">
      <template slot="body" slot-scope="props">
        <div class="alert alert-primary alert-dismissible fade show mb-2" role="alert">
          <h5 class="alert-heading" v-if="props.item.title">{{props.item.title}}</h5>
          <div v-html="props.item.text"></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="props.close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </template>
    </notifications>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  data () {
    return {}
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout').then(() => {
        this.$router.push('login')
      })
    },
    getBackendDomain () {
      return process.env.VUE_APP_BACKEND_DOMAIN
    }
  },
  computed: {
    ...mapGetters('auth', ['isAuthenticated', 'userInfo']),
    ...mapState('loading', ['isLoading'])
  },
  mounted () {
    console.log(
      'process.env.VUE_APP_BACKEND_DOMAIN: ' +
        process.env.VUE_APP_BACKEND_DOMAIN
    )
    console.log('process.env.NODE_ENV: ' + process.env.NODE_ENV)
    console.log('process.env: ' + JSON.stringify(process.env))
  }
}
</script>

<style lang="scss">
@import "./assets/style";

.navbar {
  border-bottom: 1px solid #ddd;
  background-color: #1c4b65;
  color: #e9f5ff;
}

.nav-link a:not(.dropdown-item),
.nav-link div {
  color: #e9f5ff;
}

.navbar-brand {
  color: #e9f5ff;
  &:hover {
    color: #77deb0;
  }
}

.nav-link:hover {
  border-bottom: 2px #77deb0 solid;
  margin-bottom: -2px;
}

.nav-active {
  border-bottom: 2px #77deb0 solid;
  margin-bottom: -2px;
  a:not(.dropdown-item),
  div:not(.dropdown-item) {
    color: #77deb0 !important;
  }
}

a {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .responsive-font {
    font-size: 15px;
    width: 100%;
    height: 40px;
  }
  .nav-link {
    width: 100%;
  }
  svg {
    margin: auto;
  }
}

.small-text {
  font-size: 14px;
}

.hyper-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.loading {
  z-index: 2000 !important;
}

.notifications {
  top: 70px !important;
  right: 8px !important;
}

.hint {
  float: right;
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 20;
}
</style>
